html {
  height: 100%;
}

#login-container {
  border: 2px blue solid;
  border-radius: 20px;
  padding: 20px;
  max-width: 250px;
  margin: 40vh auto;
  display: flex;
  justify-content: center;
}

input {
  width: 180px;
}

#login-footer {
  display: flex;
  align-items: center;
}

#success-message {
  color: green;
  font-weight: bold;
}

button {
  margin-left: auto;
}
