html {
  height: 100%;
}

body {
  height: 100%;
}

#login-container {
  border: 2px blue solid;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

#inputs input {
  margin-left: 5px;
}

#login-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 5px 0px 5px;
}

p {
  margin: 0px;
}
#success-message {
  color: green;
  font-weight: bold;
  display: none;
}
