html {
  height: 100%;
}

#table-container {
  border: 2px black solid;
  border-radius: 20px;
  padding: 20px;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
  text-align: center;
}

table * {
  padding: 10px;
  border: 1px solid blue;
}

#search-lg {
  position: fixed;
  right: 5%;
}

.breakable {
  overflow-wrap: anywhere;
}
